@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Wix+Madefor+Display:wght@600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(77, 0, 115);
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgb(77, 0, 115);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}   

body{
    font-family: 'Wix Madefor Display', sans-serif;

}

.bar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    width: 900px;
    height: 60px;
    left: 300px;
    top: 10px;
    z-index: 2;
    border-radius: 12px;
    background-color: rgb(77, 0, 115);
}

.bar a {
    text-decoration: none;
    color: white;
}

.bar h2 {
    display: inline-block; 
    margin: 0;
    padding: 0 10px; 

}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;

}

.nav {
    width: 20%;
    height: 2.7rem;
    background-color: rgb(77, 0, 115);
    border-radius: 12px;
}


.page-1 {
    position: relative;
    height: 50rem;
    width: 100%;
    background-color: rgb(106, 11, 161);

}

.page-1 img {
    border-radius: 100px;
    margin-top: 18rem;
    margin-left: 3rem;
}

.page-1 h2{
    color: white;
    font-size: 30px;
    margin-top: 12rem;
    margin-left: 3rem;
    width: 28rem;
}

.page-1 p {
    position: relative;
    color: white;
    font-size: 20px;
    margin-top: 23rem;
    left: -25rem;
}

.page-1 .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-1 .skills-container {
    width: 15rem;
    height: 42rem;
    background-color: rgb(77, 0, 115);
    border-radius: 12px;
    margin-bottom: -15rem;
    margin-left: -11rem;
}

.page-1 .skills {
    position: relative;
    top: 20px;
}

.page-1 .skills h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 2.3rem;
    margin-bottom: 2px;
    color: white;
    background-color: rgb(56, 2, 83);
    border-radius: 5px;
    width: 11rem;
}

.page-2 {
    position: relative;
    height: 200rem;
    width: 100%;
    background-color: rgb(106, 11, 161);
}

.page-2 h2{ 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.page-2 h3{ 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    margin-bottom: 1rem;
    
}

.page-2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 40rem;
    margin-left: -9rem;
}

.page-2 .img-vid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}

.page-2 .img-vid::before {
    position: absolute;
    content: "";
    width: 52rem;
    height: 30rem;
    background-color: rgb(77, 23, 108);
    border-radius: 12px;
    z-index: 0;
}

.page-2 video {
    z-index: 1;
}

.page-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    width: 100%;
    background-color: rgb(106, 11, 161);
    padding-bottom: 7rem;
}

.page-3 h2 { 
    color: white;
    font-size: 35px;
}

.page-3 p { 
    color: white;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page-3 .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 10rem;
    margin-right: 13rem;
    border-radius: 12px;
    background-color: rgb(77, 23, 108);
}

.page-3 .icons{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}
 
.page-3 .icons .instagram{
    text-decoration: none;
    color: #b823b3;
}

.page-3 .icons .twitter{
    text-decoration: none;
    color: cornflowerblue;
}

.page-3 .icons .twitter{
    text-decoration: none;
    color: cornflowerblue;
}

.page-3 .icons .github{
    text-decoration: none;
    color: white;
}

.page-3 .inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    width: 22rem;
    height: 19rem;
    border-radius: 12px;
    background-color: rgb(77, 23, 108);
}

.page-3  .inputs {
    width: 20rem;
}

.page-3 label {
    color: white;
    font-size: 25px;
}

.page-3 .name{
    border: none;
    width: 20rem;
    height: 2.2rem;
    border-radius: 8px;
    padding-left: 5px;
    font-size: 20px;
}

.page-3 .name::placeholder{
    font-size: 20px;
    padding-left: 2px;
}

.page-3 .email{
    border: none;
    width: 20rem;
    height: 2.2rem;
    border-radius: 8px;
    padding-left: 5px;
    font-size: 20px;
}

.page-3 .email::placeholder{
    font-size: 20px;
    padding-left: 2px;
}

.page-3 .textarea{
    border: none;
    resize: none;
    width: 20rem;
    height: 5rem;
    border-radius: 8px;
    padding-left: 5px;
    font-size: 20px;
}


.page-3 .button{
    cursor: pointer;
    color: white;
    border: 1px solid black;
    width: 20rem;
    height: 1.5rem;
    border-radius: 5px;
    background: rgb(158, 78, 198);
}

.page-3 .button:hover{
    transition: 0.3s;
    background: rgb(130, 35, 187);
   
}

